

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', Arial, sans-serif;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



h1 {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  border-style: inset;
  box-shadow: black;
  background: linear-gradient(-45deg, #ee7752, #2f4c86, #23a6d5, #593bbb);
}

.container {
  width: 500px;
  margin-bottom: 10px;
  padding: 100px;
 
}
#notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  margin-bottom: 20px;
  padding: 10px;
}

.note {
  background-color: #5f8888;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-text {
  font-size: 16px;
  overflow-wrap: break-word;
}

.note-buttons {
  display: flex;
  align-self: flex-end;
  
}

#add-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

#note-text {
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  
}

#add-btn {
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#edit-btn {
  background-color: #FFC107; /* Yellow */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#delete-btn {
  background-color: #F44336; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
